# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IntelliJ IDEA specific
.idea/
*.iml
*.ipr
*.iws

# Eclipse specific
.classpath
.project
.settings/

# VS Code specific
.vscode/

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS specific
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
*~
